@import "../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import "../../node_modules/vue-material/dist/vue-material.css";

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #313131;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:transparent;
    &:focus {
        outline: none;
    }
}


html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float:right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

html,
body,
.app-viewport {
    height: 100%;
    overflow: hidden;
}

.app-viewport {
    display: flex;
    flex-flow: column;
}

.main-toolbar {
    position: relative;
    z-index: 10;
}

.md-fab {
    margin: 0;
    position: absolute;
    bottom: -20px;
    left: 16px;
    z-index: 10;

    .md-icon {
        color: #fff;
    }
}

.md-title {
    padding-left: 8px;
    color: #fff;
}

.main-content {
    position: relative;
    z-index: 1;
    overflow: auto;
}

.md-list-action .md-icon {
    color: rgba(#000, .26);
}

.md-avatar-icon .md-icon {
    color: #fff !important;
}

.md-sidenav .md-list-text-container > :nth-child(2) {
    color: rgba(#fff, .54);
}

.md-account-header {
    .md-list-item:hover .md-button:hover {
        background-color: inherit;
    }

    .md-avatar-list .md-list-item-container:hover {
        background: none !important;
    }
}